@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Goldman&family=Open+Sans&display=swap');

:root {
  --primary-color: #01233f;
  --secondary-color: #3a3a3a;
  --accent1-color: #9f0707;
  --background-color: #f2f2f2;
  --heading-font: "Black Ops One", cursive;
  --subheading-font: "Goldman", cursive;
  --paragraph-font: "Open Sans", sans-serif;
}

html {
  background-image: url("../images/blueprint.jpg");
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--background-color);
  padding: 1em;
}

img {
  max-width: 100%;
}

h1,
h2, #black-ops {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h3, 
h4, 
h5,
h6 {
    font-family: var(--subheading-font);
    color: var(--secondary-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--secondary-color);
}


header div {
    font-family: var(--subheading-font);
    color: var(--secondary-color);
    font-size: 1.5em;  
}

#paragraph {
    font-family: var(--paragraph-font);
}
p {
  font-family: var(--paragraph-font);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
  color: white;
}

.accent1 {
  background-color: var(--accent1-color);
  color: white;
}

.background {
  background-color: var(--background-color);
}

nav {
  background-color: ;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav > ul {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 70px;
}

nav a:link,
nav a:visited {
  color:;
}

nav a:hover {
  color: ;
  background-color: ;
}

.colored {
    color: white;
    background-color: var(--accent1-color);
}