@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Goldman&display=swap');

:root {
    --primary-color:#01233f;
    --secondary-color: #9f0707;
    --accent1-color: #a3a3a3;
    --accent2-color:#000000;
    --heading-font: 'Black Ops One', cursive;
    --paragraph-font: 'Goldman', cursive;
}

html {
    background-color: var(--primary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
   
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent2-color);
    background-image: url('../images/blueprint.jpg');
}

header>h1 {
    color:white;
    text-shadow: 5px 5px 10px black;
}
header>div {
    color: white;
    text-shadow: 5px 5px 3px black;
}

    
p {
    font-family: var(--paragraph-font);
    color: ;
    padding: 1em;
    
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}

nav {
    background-color: ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color:
}

nav a:hover {
    color: ;
    background-color:
}